{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{{titulo}}</title>
</head>
<body>
    <div>
    <h3>Hora:</h3><span>{{tiempo}}</span>
    </div>
    <p>{{parrafo}}</p>

    
    {% if Estado == False %}
        <p>El Estado es Desconectado</p>
    {% else %}
        <p>El Estado es Conectado</p>
    {% endif %}

    
    {% comment %}
        esto es un comentario
    {% endcomment %}
        
    <img class="img" src="{% static 'homer.jfif' %}">

    <ul>
        {% for iter in itera %}
        <li>{{iter}}</li>
        {% endfor %}
    </ul>
    
    <script src="{% static 'funciones.js' %}"></script>    
</body>
</html>