{% extends 'index.html' %}


{% block titulo %}
    Login
{% endblock titulo %}
    
{% block contenido %}
    <h2 class="text-center mt-4 mb-2 font-weight-bold">Ingresar</h2>
    <form action="login" method="post">
        {% csrf_token %}
        <div class="row g-3 align-items-center">
            <div class="col-1">
                <label for="usuario" class="col-form-label"><b>Usuario</b></label>
            </div>
            <div class="col-11">
                <input name="usuario"id="usuario" type="text" class="form-control">
            </div>
            <div class="col-1">
                <label for="contraseña" class="col-form-label"><b>Contraseña</b></label>
            </div>
            <div class="col-11">
                <input id="contraseña" type="password" class="form-control">
            </div>
            </div>
        </div>
        <br>
        <div class="col-12">
            <button class="btn btn-success" type="submit"><b>Enviar</b></button>
        </div>
        <br>
        </div>
    </form>

    <br>
    <hr>
    <br>

    <h2 class="text-center mt-2 mb-2 font-weight-bold">Registro</h2>
    <form  action="login" method="post">
        {% csrf_token %}
        <div class="row g-3 align-items-center">
            <div class="col-1">
                <label for="nombres" class="col-form-label"><b>Nombres</b></label>
            </div>
            <div class="col-11">
                <input name="nombres"id="nombres" type="text" class="form-control">
            </div>
            <div class="col-1">
                <label for="apellidos" class="col-form-label"><b>Apellidos</b></label>
            </div>
            <div class="col-11">
                <input name="apellidos"id="apellidos" type="text" class="form-control">
            </div>
            <div class="col-1 ">
                <label for="email"><b>Email</b></label>
            </div>
                <div class="col-11">
                    <input type="email" id="email" name="email" class="form-control">
                </div>
            <div class="col-1">
                <label for="usuario" class="col-form-label"><b>Usuario</b></label>
            </div>
            <div class="col-11">
                <input name="usuario"id="usuario" type="text" class="form-control">
            </div>
            <div class="col-1">
                <label for="contraseña" class="col-form-label"><b>Contraseña</b></label>
            </div>
            <div class="col-11">
                <input id="contraseña" type="password" class="form-control">
            </div>
            </div>
        </div>
        <br>
        <div class="col-md-12 text-right">
            <button class="btn btn-primary float-right" type="submit"><b>Enviar</b></button>
        </div>
        <br>
        </div>
    </form>
{% endblock contenido %}
        