*{
	box-sizing: border-box;
}

body
{
	font-size:13px;
	font-family: "Roboto";
}

a
{
	display: inline-block;
	text-decoration: none;
}

p
{
	color: black;	
}

#nosotros .container p
{
	color: black;
}

#nosotros .container #namef
{
	text-align: center;
	font-size: 22px;
	font-weight: bold;
}

#nosotros .container #ftf
{
	position: relative;
}

#nosotros .cuadrado-foto
{
	display: block;
	position: relative;
	width: 278px;
	height: 384px;
	border: 2px solid black	;
}

header
{
	position: relative;
	top: 0;
	width: 100%;
	left: 0;
	z-index: 2;
	background-color: white;
}

header .container
{
	display: flex;
	background-color: #d91b54;
	justify-content: space-between;
	align-items: center;
	font-size: 15px;
	font-weight: bolder;
	width: 100%;
	height: 77px;
}

header .container .logo
{
	width: 100px;
	height: 100%;
	object-position: center;
}

header .container nav a
{
	color: white;
	text-decoration: none;
	margin: 0 15px 0 15px;
}

header .container .hamb
	{
		display: none;	
	}

footer.seccion
{
	background-color: #f8e9eb;
	color: black;
	padding-bottom: 0;
	padding-top: 15px;
}

footer .barra-footer
{
	background-color: #eea7ad;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 20px;
	padding-bottom: 20px;
}

footer ul
{
	color: black;
	padding-left: 0;
	list-style: none;
	margin: 0; 
}

footer ul li
{
	margin-bottom: 10px;
}

footer .logo-footer
{
	width: 100%;
}

footer img
{
	width: 450px;
	height: 130px;
}

footer p
{
	color: black;
	margin-bottom: 30px;
}

footer a
{
	color: black;
}

footer .redes
{
	color: black;
	font-size: 30px;
	display: flex;
}

footer .redes a
{
	margin: 0 7.5px;
	color: black;
}

.boton.boton-rosa
{
	color: white;
	background-color: #be3967;
	font-size: 20px;
	font-weight: bold;
	padding: 4px 4px 4px 4px;
}

.boton.boton-rosa:hover
{

	background: #e7b1b9;
	color: black;
}

.boton.boton-rosado
{
	color: white;
	background-color: #d91b54;
	font-size: 16px;
	font-weight: bold;
	padding: 4px 4px 4px 4px;
}

.boton.boton-rosado:hover
{
	background: #e7b1b9;
	color: black;
}

.cuadrado-perfecto
{
	width: 100%;
	padding-bottom: 100%;
	position: relative;
}

.cuadrado-perfecto img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	top: 0;
	left: 0;
	object-position: center;
	position: absolute;
}

#inicio
{
	position: relative;
	background-color: #f8e9eb;
	padding-top: 1px;
	padding-bottom: 8px;
}

#inicio img
{
	width: 100%;
	display: block;
}


#inicio .bloque-inicio
{
	position: relative;
	top: 40%;
	left: 50%;
	margin-left: -200px;
	text-align: center;
	width: 400px;
}

#inicio .bloque-inicio h1
{
	color: black;
	font-size: 35px
}

.container
{
	width: 1140px;
	margin: 0 auto 0 auto;
	padding-right: 15px;
	padding-left: 15px;
	position: relative;
}

.container-fluid
{
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 15px;
	position: relative;
}

#inicio .bloque-inicio p
{
	color: black;
	font-size: 16px;
}
	
#nosotros p
{
	color: white;
	text-align: center;
	font-size: 16px
}

#servicios .bloque-servicio
{
	border: 1px solid gray;
}

#servicios .bloque-servicio .bloque-img-servicio
{
	height: 100%;
}

#servicios .bloque-servicio .bloque-img-servicio img
{
	width: 100%;
	height: 100%;
}

#servicios .bloque-servicio .bloque-img-servicio.cuadrado-perfecto
{
	padding-bottom: 56.25%;
}

#servicios .bloque-servicio .bloque-contenido-servicio
{
	padding: 15px;
}

#servicios .bloque-servicio .bloque-contenido-servicio h3
{
	margin-top: : 0;
	font-size: 25px;
}

#galeria
{

}

#galeria .cuadrado-perfecto img
{
	border: 3px solid #d91b54;
}

.seccion
{
	padding-top: 60px;
	padding-bottom: 60px;
}

.row
{
	display: flex;
	flex-wrap: wrap;
	margin-left: 15px;
	margin-right: 15px;
}

.columna
{
	padding-right: 15px;
	padding-left: 15px;
}

.columna-25
{
	width: 25%;
}

.columna-33
{
	width: 33.33%;
}

section #servicios .container h3 
{
	text-align: center;
}

@media(max-width: 767px)
{
	body
	{
		font-size: 15px;
	}

	header .container nav
	{
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: white;
		padding-top: 80px;
		padding-bottom: 80px;
		padding-left: 15px;
		padding-right: 15px;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		transition: all 0.4s ease;
		transform: translateX(100%);
	}
}